/* Additional CSS for the Stranger Things theme */
body {
  font-family: 'Bangers', cursive;
  margin: 0;
  padding: 0;
  cursor: pointer; /* Change cursor style to pointer for options */
  overflow: hidden; /* Hide horizontal overflow to prevent scrollbars */
}

#background-image {
  position: relative;
  text-align: center;
  background-color: #0b0c0d;
  margin: 0;
  animation: moveBackground 10s infinite alternate; /* Add animation to move background */
}

@keyframes moveBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px); /* Adjust the distance and direction of the movement */
  }
}

#background-image img {
  width: 100%;
  height: auto;
  animation: moveImage 10s infinite alternate; /* Add animation to move image */
}

@keyframes moveImage {
  0% {
    transform: translateY(0);
  }
  100% {
  
